/*global styles*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #fff;
    text-decoration: none;
    list-style: none;
}


/*flexbox and navbar*/

.desktop {
    display: flex;
    justify-content: space-around;
    background-color: #1b1b1b;
    border-top: solid #1b1b1b; 
    width: 100vw;
    position: fixed;
        top: 0;
}

.desktop { 
    position: relative;
    z-index: 9999;
}

.main-ul { 
    display: flex;
    margin-right: 20px;
}
.main-li { 
    margin: 15px 25px;
}

.main-li a {
    font-size: 20px;
    padding: 5px 20px; 
}

h1.logo { 
   margin: 5px 0;
   margin-left: 250px;
   width: 100%;
    transition: .7s ease;   
    animation: move .7s linear;
}

.logo:hover { 
    cursor: pointer;
}

/*hover styles*/

.link:hover {
    color: cyan;
    box-shadow: 0 0 15px cyan;
    border-radius: 5px;
}


.sub-ul {
    display: flex;
    flex-flow: column wrap;
    position: absolute;
        top: 52px;
        right: 315px;
}


.sub-li { 
    background-color: #1b1b1b;
    border-bottom: 3px solid black;
    padding: 10px;
    width: auto;
    display: none
}

.sub-li .sub-link {
    font-size: 17px;
}

.sub-li:first-child {
    border-top: 1px solid cyan;
}

.sub-link:hover { 
    color: cyan;
    font-weight: bold;
}

.main-ul .main-li:hover .sub-ul .sub-li{ 
    display: block;
}


.main-ul .sub-css { 
    position: absolute;
        right: 170px;
}

.main-ul .sub-js { 
    position: absolute;
        right: 15px;
}


.plus-1 { 
    display: inline-block;
    position: absolute;
        right: -15px;
        top: 100px;
}


.main-ul .sub-sub-css { 
    width: 135px;
    border-top: 1px solid cyan;
    position: absolute;
        right: -130px;
        top: 125px;
    display: none;

}


.main-ul .sub-css .sub-li:hover .sub-sub-css { 
    display: block;
}

/*mobile*/

.mobile { 
    display: none
}

/* logo animation */

@keyframes move { 
    50% { 
        transform:  translate(300px,0);
    }
    0%,100% { 
        transform: translate(0,0);
    }
}


footer { 
    background-color: #1b1b1b;
    font-size: 20px;
    text-align: center;
    padding: 7px 0;
    width: 100%;
    height: 5vh;
    position: absolute;
        bottom: 0;
}


.heart { 
    position: relative;
    top: 3px;
    animation: hrt 1.5s infinite linear;
 }


@keyframes hrt{ 
    50% { 
        opacity: 0
    }
    0%,100% { 
        opacity: 1;
    }
}


.main { 
    height: 100%;  
    background-color: transparent;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50vh;

}

.txt { 
    color: black;
    font-size: 45px;
    display: block;
    margin: 0 auto;
    position: absolute;
        top: 40vh;
}

@keyframes smooth { 
    50% { 
        opacity: 0.5
    }
    0%,100% {
        opacity: 1
    }
}


.main-li:hover .sub-ul{ 
    animation: smooth 1s 1 linear;
    position: absolute;
}