* {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

.container {
	padding: 1.5em 3em;
	background: #111;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 15px
}


.portfolio-img {
	width: 80%;
	object-fit: cover
}

.portfolio-desc {
	color: #555;
	font-size: 1.3rem;
}

.portfolio-title {
	font-size: 2rem;
	margin: 1rem 0;
}
.child {
	background: #fff;
	padding: 1em 2em;
	width: 85%;
}


.portfolio-main-title {
	color: #00C896; 
	text-align: center;
	margin: 1.5rem 0;
	grid-column: 1/-1
}
