* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: #fff
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

header {
	background-color: #333;
	display: flex;
	justify-content: space-between;
}

header a {
	margin: 15px 25px ;
	font-size: 1.5rem;
}

ul {
	display: flex;
	gap: 15px;
	justify-content: flex-end;
	margin: 15px 25px;
	font-size: 1.5rem;
}

li:hover {
	background-color: #ccc;
}
